<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="copy">
		<footer class="main-footer" >
	        <div class="pull-right hidden-xs">
	          <b>Version</b> 2.0
	        </div>
	        <strong>Copyright &copy; 2014-2015 <a href="http://trickytechnos.com">Trickytechnos</a>.</strong> All rights reserved.
	   	</footer>
	</div>
</body>
</html>